* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #e36414;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}


.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-family: monospace;
    font-size: 12px;
    margin: 0 10px;
    line-height: 60px;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 4px;
}

